---
layout: default
---

  <header class="site-masthead">
  {% include menu.html %}
<br><h2 class="header-title">
  <a href="/read">Chinese Poetry</a>
</h2>
<h3 class="header-subtitle">
  Translated by Steve Lipscombe
</h3>
</header>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article" aria-label="Content">

  <div class="post-content e-content" itemprop="articleBody">
    <a id="list"><h1 class="content-title divided">
    </h1></a>

    <a id="poems"></a>
    {% if site.paginate and site.paginate_path %}

      <ul class="post-list">
        {% for post in paginator.posts %}
          {% include post-list-item.html %}
        {% endfor %}
      </ul>
<a id="list">
<br>
<h1 class="content-title divided">
    </h1></a>
{% if paginator.total_pages > 1 %}
  <div class="pagination" style="display: flex; justify-content: space-between; align-items: center;">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | append: '#poems' }}" class="pagination-previous">&laquo; Newer</a>
    {% else %}
      <span></span> <!-- Placeholder for alignment -->
    {% endif %}
    <span class="pagination-number" style="flex-grow: 1; text-align: center;">{{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | append: '#poems' }}" class="pagination-next">Older &raquo;</a>
    {% else %}
      <span></span> <!-- Placeholder for alignment -->
    {% endif %}
  </div>
{% endif %}


    {% else %}

      <ul class="post-list">
        {% for post in site.posts %}
          {% include post-list-item.html %}
        {% endfor %}
      </ul>

    {% endif %}
    
  </div>
</article>