---
layout: default
---

{% if site.data.menu %}
  {% include menu.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting" id="main" role="article">

  {% if page.title != "" %}
    <h1 class="post-title divided p-name" itemprop="name headline">
      {{ page.title }}
    </h1>
  {% endif %}

  <div class="post-meta">
    {% if page.author %}
      <div itemprop="author"><a href="../{{ page.author | slugify }}">{{ page.author }}</a> ({{ page.dates }})</div>
    {% endif %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.layout == "post" %}
  <div class="post-meta">
    <!-- Display location and date for all posts -->
    <div class="post-date dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ page.location }}, {{ page.date | date: "%B %-d, %Y" }}
    </div>
  </div>
  {% else %} <br><br>
  {% endif %}

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

{% if page.layout == "post" %}
<p class="post-title divided p-name"></p>
<br><br>
<p> <span style="float:left;"><a onclick="window.history.back()"> < Back </a> </span> 
<span style="float:right;"> <a style="text-decoration:none" href="/read"> One more > </a> </span> </p> <br>
{% endif %}

</article>